.hero{
    background-image: url("https://images.pexels.com/photos/1797090/pexels-photo-1797090.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: #171616; 
    /* height: 500px;  */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

    
}